node-red/api-flow.json
[{"id":"ca5a9f69.bcb008","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","operation":"find","x":420,"y":60,"wires":[["65d4391e.3c67c"]]},{"id":"977b321b.c52478","type":"function","z":"113621cd.b6b26e","name":"query","func":"if (msg.req.query.id) {\n    msg.payload = {\n        _id : parseInt(msg.req.query.id)\n    };\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["ca5a9f69.bcb008"]]},{"id":"65d4391e.3c67c","type":"switch","z":"113621cd.b6b26e","name":"exists?","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":60,"wires":[["9da678a0.3c4d88"],["cebd94a1.135f58"]]},{"id":"e62bf24a.79db68","type":"http response","z":"113621cd.b6b26e","name":"","x":750,"y":120,"wires":[]},{"id":"a7bb5766.3eae7","type":"http response","z":"113621cd.b6b26e","name":"","x":850,"y":320,"wires":[]},{"id":"cebd94a1.135f58","type":"function","z":"113621cd.b6b26e","name":"first","func":"msg.payload = msg.payload[0];\nmsg.fromId = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["5f2e56b6.6fab7"]]},{"id":"22f85c83.f98d7c","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api/btn","method":"get","swaggerDoc":"","x":110,"y":60,"wires":[["977b321b.c52478"]]},{"id":"2c0a82e4.1ab49e","type":"template","z":"113621cd.b6b26e","name":"result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is an input button: {{payload}} !","x":710,"y":320,"wires":[["a7bb5766.3eae7"]]},{"id":"b6928e6f.e2d578","type":"json","z":"113621cd.b6b26e","name":"","x":550,"y":320,"wires":[["2c0a82e4.1ab49e"]]},{"id":"580651ff.eab92","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":280,"y":160,"wires":[]},{"id":"9da678a0.3c4d88","type":"function","z":"113621cd.b6b26e","name":"body","func":"msg.payload = {\n    _id : parseInt(msg.req.query.id),\n    role : \"unassigned\",\n    ownedBy : \"\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["580651ff.eab92","c3c3f81d.0f13f8"]]},{"id":"5f2e56b6.6fab7","type":"switch","z":"113621cd.b6b26e","name":"in/out/unassigned?","property":"payload.role","propertyType":"msg","rules":[{"t":"eq","v":"input","vt":"str"},{"t":"eq","v":"output","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":460,"y":220,"wires":[["a60858ea.b04218"],["d002f42.cb35008"],["6d872e5.310b35"]]},{"id":"63c5a98c.51c118","type":"http response","z":"113621cd.b6b26e","name":"","x":850,"y":400,"wires":[]},{"id":"121c8d33.88146b","type":"json","z":"113621cd.b6b26e","name":"","x":550,"y":400,"wires":[["ab539243.896ca"]]},{"id":"6d872e5.310b35","type":"function","z":"113621cd.b6b26e","name":"body","func":"msg.payload = {\n    _id : parseInt(msg.req.query.id),\n    role : \"unassigned\",\n    payload : \"test4\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["e5c92452.2eb3f"]]},{"id":"e5c92452.2eb3f","type":"json","z":"113621cd.b6b26e","name":"","x":550,"y":460,"wires":[["80eb7cf6.62358"]]},{"id":"aa55d227.6357","type":"http response","z":"113621cd.b6b26e","name":"","x":850,"y":460,"wires":[]},{"id":"ab539243.896ca","type":"template","z":"113621cd.b6b26e","name":"result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is an output button: {{payload}} !","x":710,"y":400,"wires":[["63c5a98c.51c118"]]},{"id":"80eb7cf6.62358","type":"template","z":"113621cd.b6b26e","name":"result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is an unassigned button: {{payload}} !","x":710,"y":460,"wires":[["aa55d227.6357"]]},{"id":"788963b8.601034","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","payonly":true,"upsert":false,"multi":false,"operation":"store","x":420,"y":280,"wires":[]},{"id":"24ba4cc5.dd5f24","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":260,"y":320,"wires":[["5133a241.830c2c"]]},{"id":"a60858ea.b04218","type":"function","z":"113621cd.b6b26e","name":"input query","func":"msg.payload = {\n    name : msg.payload.ownedBy\n};\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":320,"wires":[["24ba4cc5.dd5f24"]]},{"id":"5133a241.830c2c","type":"function","z":"113621cd.b6b26e","name":"cnt++","func":"msg.payload = msg.payload[0];\nmsg.query = {_id:msg.payload._id};\nmsg.payload.counter++;\nmsg.payload.queue.push({\n    inTs : Math.floor(Date.now()/1000),\n    inFrom : msg.fromId\n});\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["b6928e6f.e2d578","788963b8.601034"]]},{"id":"d002f42.cb35008","type":"function","z":"113621cd.b6b26e","name":"output query","func":"msg.payload = {\n    name : msg.payload.ownedBy\n};\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":400,"wires":[["fe663cc1.dc9b6"]]},{"id":"fe663cc1.dc9b6","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":260,"y":400,"wires":[["519aea3a.11d274"]]},{"id":"519aea3a.11d274","type":"function","z":"113621cd.b6b26e","name":"cnt--","func":"msg.payload = msg.payload[0];\nmsg.query = {_id:msg.payload._id};\nif (msg.payload.counter !== 0) msg.payload.counter--;\nvar obj = msg.payload.queue.shift();\nobj.outTs = Math.floor(Date.now()/1000);\nobj.outFrom = msg.fromId;\nobj.secWaited = obj.outTs - obj.inTs;\nobj.owner = msg.payload.name;\nmsg.history = obj;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["121c8d33.88146b","c25e4611.547dc8","ee90a05d.9c80e"]]},{"id":"c25e4611.547dc8","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","payonly":true,"upsert":false,"multi":false,"operation":"store","x":420,"y":360,"wires":[]},{"id":"b4f112a6.d935e8","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","operation":"find","x":520,"y":880,"wires":[["2a2b03b3.41d5d4"]]},{"id":"e6c3011.4ce8d8","type":"function","z":"113621cd.b6b26e","name":"query","func":"msg.payload = {\n    ownedBy : msg.req.query.owner\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":880,"wires":[["b4f112a6.d935e8"]]},{"id":"e606c77e.7bafb8","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api/unassigned","method":"get","swaggerDoc":"","x":120,"y":880,"wires":[["e6c3011.4ce8d8"]]},{"id":"2a2b03b3.41d5d4","type":"http response","z":"113621cd.b6b26e","name":"","x":690,"y":880,"wires":[]},{"id":"cc6160f3.ecc6e","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/btn?id=123","info":"","x":230,"y":20,"wires":[]},{"id":"41ce5ff9.a34e5","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/unassigned?owner=owner1","info":"","x":260,"y":840,"wires":[]},{"id":"f822bc62.cc1fa8","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api/update/btn","method":"get","swaggerDoc":"","x":120,"y":1060,"wires":[["4cb58548.fc549c"]]},{"id":"f2df2f19.cabc4","type":"http response","z":"113621cd.b6b26e","name":"","x":770,"y":1060,"wires":[]},{"id":"ab8aee48.f92e5","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/update/btn?id=123&owner=owner1","info":"","x":290,"y":980,"wires":[]},{"id":"4cb58548.fc549c","type":"function","z":"113621cd.b6b26e","name":"query","func":"if (msg.req.query.id && msg.req.query.owner ||\n    msg.req.query.id && msg.req.query.role ||\n    msg.req.query.id && msg.req.query.lat && msg.req.query.lon) {\n    msg.payload = {\n        _id : parseInt(msg.req.query.id)\n    };\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[["5bfac2d.065d5bc"]]},{"id":"603fc57a.59affc","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","payonly":true,"upsert":false,"multi":false,"operation":"store","x":760,"y":1120,"wires":[]},{"id":"5bfac2d.065d5bc","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","operation":"find","x":480,"y":1060,"wires":[["9d5cc5cd.0e26e"]]},{"id":"9d5cc5cd.0e26e","type":"function","z":"113621cd.b6b26e","name":"query","func":"msg.payload = msg.payload[0];\nif (msg.req.query.owner) {\n    msg.payload.ownedBy = msg.req.query.owner;\n}\nif (msg.req.query.role) {\n    msg.payload.role = msg.req.query.role;\n}\nif (msg.req.query.lat && msg.req.query.lon) {\n    msg.payload.location = {\n        lat : msg.req.query.lat,\n        lon : msg.req.query.lon\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1060,"wires":[["f2df2f19.cabc4","603fc57a.59affc"]]},{"id":"28c7dcbf.81c16c","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/update/btn?id=123&role=input","info":"","x":270,"y":1020,"wires":[]},{"id":"775f4362.f87254","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"history","collection":"history","payonly":true,"upsert":false,"multi":false,"operation":"store","x":720,"y":360,"wires":[]},{"id":"ee90a05d.9c80e","type":"function","z":"113621cd.b6b26e","name":"history","func":"msg.payload = msg.history;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["775f4362.f87254"]]},{"id":"b411c2f0.bd9078","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/update/owner?owner=owner1&lat=37.974766&lon=23.735360","info":"","x":370,"y":1200,"wires":[]},{"id":"eb8a91c6.3ff6e","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api/update/owner","method":"get","swaggerDoc":"","x":130,"y":1240,"wires":[["e8b03b84.88f7b8"]]},{"id":"f910d732.9008d8","type":"http response","z":"113621cd.b6b26e","name":"","x":770,"y":1240,"wires":[]},{"id":"e8b03b84.88f7b8","type":"function","z":"113621cd.b6b26e","name":"query","func":"if (msg.req.query.owner && msg.req.query.lat && msg.req.query.lon) {\n    msg.payload = {\n        name : msg.req.query.owner\n    };\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":330,"y":1240,"wires":[["ffb1f4a7.7b8528"]]},{"id":"ffb1f4a7.7b8528","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":480,"y":1240,"wires":[["ce8a28d3.ebc8c"]]},{"id":"ce8a28d3.ebc8c","type":"function","z":"113621cd.b6b26e","name":"query","func":"msg.payload = msg.payload[0];\nif (msg.req.query.lat && msg.req.query.lon) {\n    msg.payload.location = {\n        lat : msg.req.query.lat,\n        lon : msg.req.query.lon\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1240,"wires":[["f910d732.9008d8","a6d55d19.d8a0c"]]},{"id":"6d91eb9c.e509dc","type":"template","z":"113621cd.b6b26e","name":"inserted","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Inserted: {{payload}} to db!","x":580,"y":120,"wires":[["e62bf24a.79db68"]]},{"id":"c3c3f81d.0f13f8","type":"json","z":"113621cd.b6b26e","name":"","x":430,"y":120,"wires":[["6d91eb9c.e509dc"]]},{"id":"a6d55d19.d8a0c","type":"mongodb out","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","payonly":true,"upsert":false,"multi":false,"operation":"store","x":760,"y":1300,"wires":[]},{"id":"32f584fb.c6c5c4","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":500,"y":760,"wires":[["a35c97fd.47cf8"]]},{"id":"4180aab8.721664","type":"function","z":"113621cd.b6b26e","name":"query","func":"if (msg.req.query.owner) {\n    msg.payload = {\n        name : msg.req.query.owner\n    };\n} else {\n    msg.payload = {};\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["32f584fb.c6c5c4"]]},{"id":"121e3d80.5ca9d3","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api/counter","method":"get","swaggerDoc":"","x":110,"y":760,"wires":[["4180aab8.721664"]]},{"id":"148a9b70.ef077d","type":"http response","z":"113621cd.b6b26e","name":"","x":930,"y":760,"wires":[]},{"id":"c2de59fb.1b0c68","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/counter?owner=owner1","info":"","x":250,"y":720,"wires":[]},{"id":"689afafb.f0e494","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/counter","info":"","x":190,"y":680,"wires":[]},{"id":"994ab088.3d63a","type":"function","z":"113621cd.b6b26e","name":"","func":"msg.payload = \"response_callback('counter', \"+msg.payload+\");\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":760,"wires":[["148a9b70.ef077d"]]},{"id":"a35c97fd.47cf8","type":"json","z":"113621cd.b6b26e","name":"","x":650,"y":760,"wires":[["994ab088.3d63a"]]},{"id":"87790550.c766d","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api_/waiting_time","method":"get","swaggerDoc":"","x":130,"y":1440,"wires":[["c70e7a2c.eee7c8"]]},{"id":"e158b9a7.03f0d","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api_/waiting_time","info":"","x":210,"y":1400,"wires":[]},{"id":"8498662a.b2d1a","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"history","collection":"history","operation":"aggregate","x":480,"y":1440,"wires":[["c6648453.11b708"]]},{"id":"764896f6.a07b5","type":"http response","z":"113621cd.b6b26e","name":"","x":910,"y":1440,"wires":[]},{"id":"c70e7a2c.eee7c8","type":"function","z":"113621cd.b6b26e","name":"query","func":"var now = Math.floor(Date.now()/1000);\nvar then = now - 600;\nmsg.payload = [\n    { \n        \"$match\" : {\n            outTs : {\"$gt\" : then}\n        }\n    },\n    {\n        \"$group\" : {\n            _id : \"$owner\",\n            meanWaitingTime : {$avg : \"$secWaited\"},\n            count: { $sum: 1 }\n        }\n    },\n    {\n        \"$sort\" : {\n            _id : 1\n        }\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["8498662a.b2d1a"]]},{"id":"c6648453.11b708","type":"function","z":"113621cd.b6b26e","name":"mwt","func":"msg.payload.map(function(x) {\n    x.waitingTime = Math.floor((x.meanWaitingTime*x.count/60));\n});\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1440,"wires":[["764896f6.a07b5"]]},{"id":"b3ee4414.c8ed1","type":"mongodb in","z":"113621cd.b6b26e","mongodb":"401d43e7.2e3e5c","name":"history","collection":"history","operation":"aggregate","x":480,"y":600,"wires":[["3f3e08cc.c6007"]]},{"id":"ebf0fc3e.e8a498","type":"function","z":"113621cd.b6b26e","name":"query","func":"var now = Math.floor(Date.now()/1000);\nvar then = Math.floor(Date.now()/1000) - 600;\nmsg.payload = [\n    { \n        \"$match\" : {\n            inTs : {\"$gt\" : then},\n            outTs : {\"$lt\" : now}\n        }\n    },\n    {\n        \"$group\" : {\n            _id : \"$owner\",\n            meanWaitingTime : {$avg : \"$secWaited\"}\n        }\n    },\n    {\n        \"$sort\" : {\n            _id : 1\n        }\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["b3ee4414.c8ed1"]]},{"id":"3e6e1bfe.07ae7c","type":"http in","z":"113621cd.b6b26e","name":"","url":"/api_/mean_time","method":"get","swaggerDoc":"","x":120,"y":600,"wires":[["ebf0fc3e.e8a498"]]},{"id":"371e24f5.3299f4","type":"http response","z":"113621cd.b6b26e","name":"","x":931,"y":600,"wires":[]},{"id":"fd9f39ab.7483e8","type":"comment","z":"113621cd.b6b26e","name":"API: http://83.212.123.145:1880/api/mean_time?mins=30","info":"","x":240,"y":560,"wires":[]},{"id":"3f3e08cc.c6007","type":"json","z":"113621cd.b6b26e","name":"","x":650,"y":600,"wires":[["176d2aa8.ef2a65"]]},{"id":"176d2aa8.ef2a65","type":"function","z":"113621cd.b6b26e","name":"jsonp","func":"msg.payload = \"response_callback('mean_time', \"+msg.payload+\");\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["371e24f5.3299f4"]]},{"id":"401d43e7.2e3e5c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"hackathon","name":""}]
