node-red/init-db-flow.json
[{"id":"148bf4e8.d204a3","type":"tab","label":"Init db"},{"id":"8fc3efa2.f4d58","type":"inject","z":"148bf4e8.d204a3","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":120,"wires":[["410f3fa0.f9e588","f620377.67a4448","344cdf97.44079","b3e34e35.4dbe88"]]},{"id":"b33619f8.6f1b98","type":"mongodb out","z":"148bf4e8.d204a3","mongodb":"401d43e7.2e3e5c","name":"buttons","collection":"buttons","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":447,"y":120,"wires":[]},{"id":"b3e34e35.4dbe88","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    _id : 123,\n    role : \"output\",\n    ownedBy : \"owner2\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":277.5,"y":154.5,"wires":[["b33619f8.6f1b98"]]},{"id":"f620377.67a4448","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    _id : 124,\n    role : \"input\",\n    ownedBy : \"owner1\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":81,"wires":[["b33619f8.6f1b98"]]},{"id":"344cdf97.44079","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    _id : 125,\n    role : \"output\",\n    ownedBy : \"owner1\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":118,"wires":[["b33619f8.6f1b98"]]},{"id":"7273b4d9.4dc29c","type":"inject","z":"148bf4e8.d204a3","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["539bd3ef.616ab4","7c0209d9.255a88"]]},{"id":"1b32b88b.7d05ff","type":"mongodb out","z":"148bf4e8.d204a3","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":447,"y":280,"wires":[]},{"id":"539bd3ef.616ab4","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    name : \"owner1\",\n    counter : 0,\n    queue: []\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["1b32b88b.7d05ff"]]},{"id":"7c0209d9.255a88","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    name : \"owner2\",\n    counter : 0,\n    queue: []\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["1b32b88b.7d05ff"]]},{"id":"410f3fa0.f9e588","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.payload = {\n    _id : 122,\n    role : \"input\",\n    ownedBy : \"owner2\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":191,"wires":[["b33619f8.6f1b98"]]},{"id":"2bd7c297.cb8366","type":"inject","z":"148bf4e8.d204a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":130,"y":400,"wires":[[]]},{"id":"59c5e36a.ce907c","type":"function","z":"148bf4e8.d204a3","name":"rand","func":"msg.payload = msg.payload[0];\nif (msg.payload.counter === 0) {\n    msg.payload = 1;\n} else {\n    // var r = Math.random();\n    // if (r>=0.5) msg.payload = 0;\n    if (msg.rand1>=5) msg.payload = 0;\n    else msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["d13b4db8.32dab8"]]},{"id":"58f8e551.5c03f4","type":"mongodb in","z":"148bf4e8.d204a3","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":560,"y":400,"wires":[["59c5e36a.ce907c"]]},{"id":"94645dba.5ea678","type":"function","z":"148bf4e8.d204a3","name":"query","func":"msg.payload = {\n    name : \"owner1\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["58f8e551.5c03f4"]]},{"id":"d13b4db8.32dab8","type":"switch","z":"148bf4e8.d204a3","name":"dec/inc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":860,"y":400,"wires":[["21307878.45718"],["b4833cfa.ca991"]]},{"id":"21307878.45718","type":"http request","z":"148bf4e8.d204a3","name":"","method":"GET","ret":"txt","url":"localhost:1880/api/btn?id=125","tls":"","x":130,"y":460,"wires":[["4fc76e62.aaa9e8"]]},{"id":"b4833cfa.ca991","type":"http request","z":"148bf4e8.d204a3","name":"","method":"GET","ret":"txt","url":"localhost:1880/api/btn?id=124","tls":"","x":130,"y":500,"wires":[["215fbed3.a9fdd2"]]},{"id":"4fc76e62.aaa9e8","type":"debug","z":"148bf4e8.d204a3","name":"","active":false,"console":"false","complete":"false","x":350,"y":460,"wires":[]},{"id":"215fbed3.a9fdd2","type":"debug","z":"148bf4e8.d204a3","name":"","active":false,"console":"false","complete":"false","x":350,"y":500,"wires":[]},{"id":"20ccdff6.c9c4a","type":"function","z":"148bf4e8.d204a3","name":"rand","func":"msg.payload = msg.payload[0];\nif (msg.payload.counter === 0) {\n    msg.payload = 1;\n} else {\n    // var r = Math.random();\n    // if (r>=0.5) msg.payload = 0;\n    if (msg.rand2>=5) msg.payload = 0;\n    else msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["6a8370a2.d87fd"]]},{"id":"9866310d.41a148","type":"mongodb in","z":"148bf4e8.d204a3","mongodb":"401d43e7.2e3e5c","name":"owners","collection":"owners","operation":"find","x":560,"y":560,"wires":[["20ccdff6.c9c4a"]]},{"id":"7ac7fdaa.7edb94","type":"function","z":"148bf4e8.d204a3","name":"query","func":"msg.payload = {\n    name : \"owner2\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["9866310d.41a148"]]},{"id":"6a8370a2.d87fd","type":"switch","z":"148bf4e8.d204a3","name":"dec/inc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":860,"y":560,"wires":[["a2328a4f.888dc8"],["e17dab28.4b466"]]},{"id":"e593af43.335af8","type":"debug","z":"148bf4e8.d204a3","name":"","active":false,"console":"false","complete":"false","x":350,"y":640,"wires":[]},{"id":"e9ba0653.6d611","type":"debug","z":"148bf4e8.d204a3","name":"","active":false,"console":"false","complete":"false","x":350,"y":680,"wires":[]},{"id":"a2328a4f.888dc8","type":"http request","z":"148bf4e8.d204a3","name":"","method":"GET","ret":"txt","url":"localhost:1880/api/btn?id=123","tls":"","x":130,"y":640,"wires":[["e593af43.335af8"]]},{"id":"e17dab28.4b466","type":"http request","z":"148bf4e8.d204a3","name":"","method":"GET","ret":"txt","url":"localhost:1880/api/btn?id=122","tls":"","x":130,"y":680,"wires":[["e9ba0653.6d611"]]},{"id":"67bb9937.e5ef18","type":"comment","z":"148bf4e8.d204a3","name":"Generate dummy data","info":"","x":160,"y":360,"wires":[]},{"id":"ebaa60e.287dfa","type":"function","z":"148bf4e8.d204a3","name":"","func":"msg.rand1 = Math.floor(Math.random()*10);\nmsg.rand2 = Math.floor(Math.random()*10);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["94645dba.5ea678","7ac7fdaa.7edb94"]]},{"id":"2c3d7970.21df4e","type":"comment","z":"148bf4e8.d204a3","name":"Init documents","info":"","x":120,"y":20,"wires":[]},{"id":"401d43e7.2e3e5c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"hackathon","name":""}]
